# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
node_modules/
*/node_modules/


# Build outputs
.next/
out/
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Backend specific
backend/uploads/


# Frontend specific
frontend/.next/
frontend/out/
frontend/.vercel

